/* Remove the white line at the bottom of timeline elements */
.vertical-timeline-element-content:before {
    border-bottom: none;
  }
  

/* Remove the white line at the bottom of timeline elements */
.vertical-timeline-element-content .vertical-timeline-element-content-arrow::before {
    border-bottom-color: transparent !important;
    background-color: rgba(26, 26, 26, 0.383);
  }



  